/*
Orange color - #e67e22
Blue color - #32648e
*/

/*----------------------------------------------------------------*/
/* REUSABLE COMPONENTS */
/*----------------------------------------------------------------*/

section{
    padding:40px 0;
}

a:link, a:visited{
    text-decoration: none;
    color: white;
}

/*----------------------------------------------------------------*/
/* HEADER */
/*----------------------------------------------------------------*/
/*----------NAV----------rgba(50, 100, 142, 0.97)--------*/
nav{
    background-color: rgba(58, 140, 194, 0.97);
    height: 50px;
    width:100%;
    position:fixed;
    z-index:99;
}

.nav-elements{
  margin-top: 10px;
  color:white;
}

nav ul.main-nav{
    list-style: none;
    float:right;
}

nav ul.main-nav li{
    display:inline-block;
    margin: 0 10px;
}

nav ul.main-nav li a:link, nav ul.main-nav li a:visited{
    font-size:55%;
    text-transform: uppercase;
    padding-bottom: 5px;
    word-spacing: 1px;
    letter-spacing: 0.5px;
    font-weight: 400;
    transition: 0.4s;
}

li.sign-up a{
    border: 1px solid #fff;
    border-radius: 4px;
    padding: 7px 18px 7px 16px;
}

nav ul.main-nav li a:hover, nav ul.main-nav li a:active{
    border-bottom: 1px solid #fff;
}

.main-nav{
  margin-right: 30px;
}

.logo-container{
  margin-left: 30px;
}

.user-id img{
  width: 32px;
  height: auto;
  border-radius: 50%;
  display: inline-block;
  margin-bottom: 0px;
}

.user-id{
  vertical-align:middle;
}


.signout{
  display: inline-block;
  text-transform: capitalize;
  vertical-align: top;
  margin-left: 3px;
  letter-spacing: 1px;
  padding-top: 5px;
}

.btn-menu i{
  font-size: 170%;
  vertical-align: middle;
}

.btn-menu{
  display: none;
}
/*----------LOGO-----------------*/
.logo{
  width:30px;
  vertical-align: middle;
  margin-right: 5px;
}
/* ---------NAVIGATION-----------*/
/* ---------JUMBOTRON-----------*/
.jumbotron-home{
    background-image: linear-gradient(rgba(11, 11, 11, 0.5), rgba(11, 11,11, 0.5)), url(../images/cities/index.jpg);
    background-size:cover;
    color:white;
    background-position:bottom;
    background-attachment: fixed;
}

.hero-search-box>div{
  padding: 150px 0 100px 0;
  text-align: center;
}

.search-component{
  font-size: 95%;
  text-transform: uppercase;
}

.search-component-piece {
  display: inline-block;
  vertical-align: top;
}

.search-component-location {
  display: inline-block;
  width: 324px;
  position: relative;
}

.search-component-location-box {
  background: #efefef;
  color: #777;
  margin: auto;
  max-width: 324px;
  border-radius: 2px;
  position: absolute;
  width: 100%;
  z-index: 2000;
  max-height: 280px;
  overflow-y: auto;
  margin-top: 10px;
  opacity:0.95;
}

.search-component-location-box .location-item {
  font-size: 15px;
  padding: 7px;
  text-align: left;
  border-bottom: 1px solid rgb(204, 204, 204);
}

.search-component-location-box .location-item:hover {
  background: #eee;
  cursor: pointer;
}

.search-component-location-box .location-item div.icon {
  display: inline-block;
  width: 15%;
  text-align: left;
  vertical-align: middle;
}

.search-component-location-box .location-item div.icon svg {
  width: 30px;
  height: 30px;
  fill: #bbb;
}

.search-component-location-box .location-item span {
  display: inline-block;
  width: 60%;
  vertical-align: middle;
}

.search-component-location-box .location-item div.code {
  display: inline-block;
  width: 20%;
  text-align: right;
  vertical-align: middle;
}

.search-component-location-box .location-item div label{
  display: inline-block;
  padding: 4px 7px 4px 7px;

  background: #30BFED;
  color: white;
  font-weight: bold;
  border-radius: 3px;
}

h2.flights-sm{
  margin-top: 8%;
  font-size: 140%;
}



/*----------------------------------------------------------------*/
/* SEARCH COMPONENT */
/*----------------------------------------------------------------*/
.fl-location-stamp{
  display: inline-block;
  text-align: left;
}

.fl-route {
  width: 100%;
}

.fl-location-stamp p{
margin: 0;
margin-left: 3px;;
font-size: 55%;
font-weight: 400;
margin-bottom: 10px;
}

.fl-location-stamp span{
  font-weight: 400;
  font-size:220%;
  color: #fff;
  margin: 0;
  padding: 0;
  cursor: pointer;
}

.fl-location-stamp i{
  vertical-align:super;
  margin: 0 3px;
  font-size: 90%;
}

.fl-route-plane-icon {
  display: inline-block;
}
.fl-route i.ion-android-plane{
  display: inline-block;
  transform: rotate(90deg);
  font-size:140%;
  margin: 0 20px;
  vertical-align:super;
}

.roundtrip {
  position: relative;
}

.roundtrip i.ion-android-plane.inverse{
  transform: rotate(270deg);
  position: absolute;
  right: 5px;
  top: 15px;
}

.roundtrip i.ion-android-plane{
  font-size:120%;
  position: relative;
  right: 5px;
  bottom: 10px;
}

.fl-route, .btn-search, .date-picker{
  display:inline-block;
}

.flight-details.wrapper{
    width: 200px;
    display: inline-block;
    vertical-align: top;
}

.picker-passengers-wrapper {
{/*margin-top: 10px;*/}
}

.picker-wrapper.passenger{
  width: 30%;
  display: inline-block;
  margin-right: 5%;
  box-sizing: border-box;
}

.picker-wrapper.passenger:last-child{
  margin-right: 0px;
}

.flight-location-wrapper {
  display: inline-block;
  vertical-align: top;
  padding: 0 20px 0 20px;
}
/***********DATE PICKER****************/
.date-picker .date-component{
  background-color: #fff;
  color: #555;
  width: 160px;
  border: 1px solid #ddd;
  height: 45px;
  line-height: 43px;
  text-align: center;
  font-size: 70%;
  cursor: pointer;
}

p.on-search-component{
  margin: 0;
  font-size: 55%;
  font-weight: 400;
  margin-bottom: 10px;
}

date-picker-sub{
  position: relative;
}

.date-picker-sub i{
  font-size: 170%;
  margin-right: 10px;
  color: #b7a074;
  vertical-align: middle;
}

.date-picker-sub-right.disabled .date-picker-sub i{
  position: absolute;
  left:-42px;
  top: 1px;
}


.date-picker-sub-right.disabled .date-component{
  cursor:not-allowed;
}

.date-picker-sub-right .date-component{
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.date-picker-sub-left .date-component{
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.mobile .date-component input{
  -webkit-appearance: none;
  border: none;
  height: 38px;
  background: transparent;
  width: 60%;
  margin-left: 4px;
  font-size: 120%;
  display: inline-block;
  vertical-align:middle;
  padding-top: 15px;
}

.mobile .date-component  i{
  display: inline-block;
  font-size: 250%;
  text-align: left;
}

/****************NORMAL PICKER**************/
.picker-input{
  font-size: 70%;
  height: 47px;
  line-height: 43px;
  color: #286A9D;
  font-weight: 100;
  text-transform: uppercase;
  width: 100%;
  -webkit-appearance: none;
  padding: 0 12px;
  background-image: url(../images/bg/select-arrow.png);
  background-repeat: no-repeat;
  background-position: calc(100% - 10px) 50%;
  background-size: 9px;
  background-color: #fff;
  cursor: pointer;
}

/******************SEARCH BUTTON**********/
.btn-search{
  height: 47px;
  background-color: #E1A93C;
  width: 170px;
  text-align: center;
  line-height: 43px;
  border-radius: 5px;
  border: 1px solid #aaa;
  vertical-align: top;
  margin-top: 20px;
  font-size: 60%;
  font-weight: 400;
  margin-left: 20px;
  cursor: pointer;
}

/*---------JUMBO TOGGLE COMPONENT -----------*/
.toggler{
    text-align: center;
    font-size: 65%;
    margin-top:10px;
    font-weight: 100;
    margin-top:40px;
    padding-left: 20px;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 30px;
  vertical-align:middle;
  margin: 0 10px;
  cursor: pointer;
}

.switch input {display:none;}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 30px;
  width: 30px;
  left: 0px;
  bottom: 0px;
  background-color: #30BFED;
  transition: .4s;
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

input + .slider {
  background-color: #fff;
}

input:checked + .slider:before {
  transform: translateX(30px);
}
/*----------------------------------------------------------------*/
/* SECTION ABOUT */
/*----------------------------------------------------------------*/

.section-about{
    text-align: center;
    background: #fff;
    padding: 10px 0;
    text-transform:full-width;
    font-size: 110%;
    color: #777;
}

.section-about ul{
    width:100%;
    list-style: none;
}
.section-about li{
    display: inline-block;
    opacity: 0.9;
}

.long-copy-row{
  margin: 0 0 30px 0!important;
}

.long-copy li img{
  width: auto;
  height: 18px;
}

/*----------------------------------------------------------------*/
/* SECTION DESTINATIONS */
/*----------------------------------------------------------------*/

.section-destinations{
    background-color: #f7f7f7;
    text-transform: uppercase;
}

.galleria{
  max-width:950px;
  margin: 40px auto;
}

.gallery{
    position:relative;
    height:280px;
    color:#fff;
    width: 100%;
    overflow: hidden;
    transition: all 0.4s;
}

.gallery-row{
  margin-bottom: 25px;
}


.gallery h3{
    font-size: 250%;
}

.gallery h4{
    font-size: 170%;
}

.gallery h3, .gallery h4{
    position:absolute;
    top:30%;
    left:50%;
    transform:translate(-50%, -50%);
    font-weight: 400;
    z-index: 2;
}

.gallery span{
    font-size:80%;
    font-weight: 400;
}

.gallery span i{
    font-size:150%;
    vertical-align: middle;
     margin-right:5px;
}

.gallery span:first-of-type i{
    display: inline-block;
    transform: rotate(45deg);
}

.gallery span:first-of-type{
    position:absolute;
    top:85%;
    left:25%;
    transform:translate(-50%, -50%);
    z-index: 2;
}

.gallery span:last-of-type{
    position:absolute;
    top:85%;
    left:70%;
    transform:translate(-50%, -50%);
    width: 160px;
    z-index: 2;
}

.gallery small{
    margin-right:2.5px;
    margin-left:4.5px;
}

.pos1 span:first-of-type{
    position:absolute;
    top:85%;
    left:30%;
    transform:translate(-50%, -50%);
}

.gallery img{
  width: 125%;
  height: auto;
  transform: scale(1.15);
  transition: all 0.4s ease-out;
  background-color: #000;
  z-index: 4;
}

.gallery img:hover{
  transform: scale(1.03);
}

.dest-shadow{
  position: absolute;
  left: 0;
  top: 0;
  width: inherit;
  height: inherit;
  background-color: #000;
  z-index: 2;
  transition: all 0.4s;
  opacity: 0.5;
  pointer-events: none;
}

.dest-shadow:hover{
  opacity: 0.3;
}
/*----------------------------------------------------------------*/
/* SECTION SERVICES */
/*----------------------------------------------------------------*/

.services-row{
    width: 90%;
    margin: 0 auto !important;
}
.service-box{
    width:90%;
    text-align: center;
    padding: 20px 10px;
    border: 1px solid #f7f7f7;
    box-shadow: 0 2px 2px #ccc;
    margin-top: 30px;
    box-shadow: 1px 4px 15x 2px rgba(46,61,73,0.2);
    border-radius: 5px;
    transition: all 0.3s ease;
    }

  .service-box:hover{
    box-shadow: 0px 6px 15px 0px rgba(46,61,73,0.2);
  }

.service-box i{
    display: inline-block;
    padding: 6px 10px;
    border: 2px solid #32648e;
    border-radius: 50%;
    margin-bottom: 6px;
    margin-top: 30px;
    color: #32648e;
    font-size: 120%;
}

.service-box h3{
    padding: 5px 0;
    margin-bottom: 0px;
    font-size: 70%;
    text-transform: uppercase;
    color: #32648e;
}

.service-box p{
    display: inline-block;
    padding: 5px 14px;
    font-size: 80%;
    color: #777;
}

.service-box p:nth-child(4){
    font-size: 70%;
    padding-bottom: 0;
    margin-bottom: 0;
}

.new-feature{
  margin-bottom: -2px;
}


/*----------------------------------------------------------------*/
/* FOOTER */

/*background-image: linear-gradient(to bottom right, #F7F7F7, #EAFBFF);
}*/
/*----------------------------------------------------------------*/
/* ---------FOOTER HEADER--------------*/

h5{
    text-transform: uppercase;
    font-size: 60%;
    font-weight: 400;
    color:  #777;
    word-spacing: 2px;
    letter-spacing: 0.5px;
}

.about-us{
    max-width: 400px;
    word-spacing: 2px;
    letter-spacing: 0.5px;
    line-height: 1.3;
    text-align: justify;
}

table {
    width: 70%;
    float:right;
    padding-bottom: 30px;
}

td, th {
    text-align: left;
    padding: 5px 0;
}

td, .about-us{
  font-size: 75%;
  color:#ddd;
}

/* ---------FOOTER FOOTER--------------*/
footer{
    color:white;
    background-color:#333;
}
.footer ul{
    list-style: none;
    /*display:inline-block;*/
    margin: 10px 0;
}

.social-icons{
    float: right;
    padding-right: 20%;
}

.footer li{
    display: inline-block;
    margin-left: 15px;
    font-size:100%;
    font-weight: 100;
}

.footer p{
    font-size:60%;
    margin:5px;
    color:#777;

}

.footer{
    background-color: #222;
    padding: 5px;
     color:#777;
}

/*----------------------------------------------------------------*/
/* SECTION MOBILE DOWNLOAD*/
/*----------------------------------------------------------------*/

.section-download{
  background-color: #F7F7F7;
  box-shadow: 5px 5px 25px 0px rgba(46,61,73,0.2);
  padding: 2px 0;
  font-size: 80%;
  margin-top:40px;
}

.section-download h3{
  padding-top: 20px;
  color: #5d5d5d;
}

.section-download p{
  max-width: 400px;
  text-align: justify;
  color: #6a6a6a;
}

.section-download h4{
  color: #888;
    font-size: 80%;
    margin-top:0;
    text-transform:none !important;
}

.col-downloads{
  border-left: 1px solid #e5e5e5;
  position: relative;
  height: 180px;
}
.available-on-item{
    display: inline-block;
    position: absolute;
    transition: all 1s;
    top:23%;
    left:45%;
    text-align: center;
}

.available-on-item i{
    color: #129CF3;
    opacity: 1;
    font-size: 250%;
    transition: all 1s;
}

.available-on-inner{
    opacity: 1;
    transition: all 1s;
}

/*----------------------------------------------------------------*/
/* SECTION FEEDBACK*/
/*----------------------------------------------------------------*/
.section-feedback{
  text-align: center;
}

.form-control {
    width: 90%;
    height: 34px;
    padding: 6px 12px;
    font-size: 70%;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 15px;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

.contact-us-form .form-control {
    display: block;
    width: 100%;
    height: 50px;
    padding: 6px 12px;
    line-height: 21px;
    color: #555;
    background-color: transparent;
    border: 1px solid #aeaeae;
    border-radius: 3px;
    opacity: .8;
    outline: 0px !important;
    transition: all 1s;
}


/*TEXTAREA*/
#message {
    height: 97px;
    resize: none;
    margin-bottom: 9px;
}

/*BUTTON*/
.submit-btn, .submit-btn:active, .submit-btn:focus, .submit-btn:visited {
    background-color: transparent;
    border: 1px solid #bebebe;
    border-radius: 4px;
    width: 94%;
    height: 48px;
    text-transform: uppercase;
    font-size: 75%;
    color: #129CF3;
    outline: 0px !important;
    transition: all 1s;
    margin-top: 0;
    white-space: nowrap;
    vertical-align: middle;
    color: #333;
    touch-action: manipulation;
    cursor: pointer;
    user-select: none;
}

.submit-btn:hover {
  background-color: #4090C4;
}


/*----------------------------------------------------------------*/
/* SECTION RESULT */
/*----------------------------------------------------------------*/
.jumbotron-home.away{
    background-image: linear-gradient(#3881AF, #286A9D);
    height:33vh;
}

.jumbotron-home.away .hero-search-box>div{
  padding: 40px 0 100px 0;
  text-align: center;
}

.jumbotron-away .toggler{
  margin-top: -5px;
}

.jumbotron-away .fl-location-stamp i{
  color: #275E82;
}

/*-----------------------RESULTS PANE------------------------------*/
.results-pane{
  background-color: #f8f8f8;
}
/*----------------FLIGHT CARD------------------------*/

.flight-card{
  text-transform:uppercase;
  max-width:550px;
  border: 1px solid #d1d1d1;
  border-radius: 4px;
  color: #656565;
  margin: 10px 0 20px 15px;
  font-size:90%;
  position: relative;
  box-shadow: 0px 1px 3px 1px rgba(46,61,73,0.2);
}

/*------FLIGHT CARD TOP----*/
.card-top{
  border-bottom: 1px solid #d1d1d1;
  background-color: #fff;
}

.card-top > div{
  margin-left: 0 !important;
  margin-right: 0 !important;
}

.manager.card-top{
  border-bottom: 0;
}

.manager .top-right-top{
  border-top: 0 !important;
}

/*-TOP-RIGHT-*/
.top-right{
  border-left: 1px solid #dfdfdf;
}

.top-right img{
  padding-top: 15px;
}

.travelDate{
  font-size: 55%;
}

.top-right-top{
  border-top: 1px solid #dfdfdf !important;
  text-align: center;
  padding-bottom: 14px;
}

.card-manage .top-right-top{
  border-bottom: 1px solid #dfdfdf !important;
  text-align: center;
  padding-bottom: 7px;
}

/*-------CARD PRICE-COMPONENT-------*/
.price-component{
  background-color:#f6f9f9;
  margin: 0 -15px;
}

.top-right-bottom{
  text-align: center;
  font-weight: 400;
  font-size:70%;
  line-height: 40px;
  color: #555;
  padding: 2px 15px 0 15px;
}

::selection{
  background: transparent !important;
}

.top-right-bottom small{
  font-size: 130%;
  color: #2E72A3;
}

.top-right-bottom .left, .top-right-bottom .right{
  display: inline-block;
}

.top-right-bottom .left{
  float: left;
}

.top-right-bottom .right{
  float: right;
}

.top-right-bottom .right i{
  margin-left: 15px;
}

.top-right-bottom .left i{
  margin-right: 15px;
}

.top-right-bottom .price-text{
  font-size: 85%;
}

.top-right-bottom i{
  border: 2px solid #555;
  border-radius: 50%;
  padding: 1px 6px;
  font-size: 120%;
  box-shadow: 0px 1px 5px 0px rgba(46,61,73,0.2);
  cursor: pointer;
}

.location-stamp-departure{
  margin-top: 10px;
}

.location-stamp-arrival{
  margin-top: 10px;
  text-align: center;
}

.stamp-desc{
  font-size:40%;
}

.city{
  font-weight: 400;
  font-size: 130%;
  color: #535353;
}
.time{
  font-weight: 300;
  font-size: 80%;
  color: #5f5f5f;
  padding-left: 2px;
}

.price{
  color: #2E72A3;
  font-size: 130%;
  padding-left: 2px;
}

.flight-class{
  color: #888;
}


/*ROUNDTRIP--CARD*/
.fl-roundtrip{
  font-size: 90%;
}

.fl-roundtrip img{
  width: 20px;
  height: 20px;
}

.right-stamp{
  margin-left: 20px;
}

.inline{
  display:inline-block;
}
/*------"MANAGER-CARD" STYLE---------*/
.card-manage .top-right-top{
  font-size: 93%;
  border-top: 0;
}

.fl-manage-top, .fl-manage-bottom{
  padding: 0 15px;
}
.fl-manage-top{
  margin-top: 7px;
}

.fl-name-date{
  text-align: left;
}

.airline-name{
  font-weight: 400;
  text-transform: capitalize;
}

.flight-date{
  font-size: 60%;
}

.fl-summary{
  text-align: left;
  padding: 0 5px;
}

.flight-summary{
  font-size: 70%;
}

.card-manage .top-right-bottom, .card-manage .price, .card-manage small{
  color: #555;
}

.strike-price, small.strike-currency{
  font-size: 90%;
  color: #6a6a6a;
}

.card-manage .btn-border{
  border: 0;
  color: #777 !important;
  font-weight: 400;
  width: 80px;
}

.card-manage .btn-border{
  font-weight: 300;
}

.manager-pane{
  text-align: left;
}

.card-manage .ion-android-plane{
  display: none;
}
/*--------------------------------*/
/*-TOP-LEFT-*/
.top-left{
  padding: 0 !important;
}

/***********--DYNAMIC-----*/
.top-left img{
  display:block;
  max-width: 100%;
  height: 27px;
  margin: 32% auto 0 auto;
  position: relative;
}

.top-left span{
  position:absolute;
  width: 100%;
  font-size: 65%;
  text-align: center;
  padding-top: 15px;
  color: #39AFE0;
}
/*--------------------------*/

/*----------FLIGHT CARD BOTTOM---------------*/
.card-bottom{
  height: 47px;
  text-align: center;
  line-height: 45px;
  background-color: #fafafa;
}

.card-bottom i{
  display: inline-block;
  margin-right: 5px;
  font-size:105%;
  vertical-align: middle;

}

.btn-flight-book .ion-android-plane{
  transform: rotate(45deg);
  color:#ECBD4B;
}

.btn-flight-save img{
  width: 1em;
  vertical-align: sub;
  padding-right: 3px;
}

.card-bottom span{
  font-size: 65%;
  font-weight: 400;
  color: #7a7a7a;
}

.btn-flight-book{
  line-height: 15px;
  display: inline-block;
  padding: 3px 6px 5px 4px;
}

.btn{
transition: all 0.1s ease;
font-weight: 100;
cursor: pointer;
}


.btn-flight-book span{
  color: #4791C6;
}

.btn-border{
  border: 1px solid #4791C6;
  border-radius: 45px;
}
/*--------------------FILTER SECTION--------------------*/
.display-panel{
  font-size: 70%;
  border: 1px solid #ddd;
  line-height: 40px;
  margin: 10px 0;
  background-color: #eee;
  box-shadow: 0px 1px 10px 0px rgba(46,61,73,0.2);
  text-transform: capitalize;
}
.select-container{
  overflow:hidden;
  display: inline-block;
  color: #a2a2a2;
  font-weight: 300;
  position: relative;
  cursor: pointer;
  vertical-align: middle;
  line-height: 20px;
}

.display-panel select{
  color: #626262;
  background:none;
  outline:none;
  width:100%;
  cursor:pointer;
  display: inline;
  height: 30px;
}


.flight-filter{
  text-align: center;
}

.flight-info{
  text-align: center;
}

.flight-number{
  text-align: center;
}

.display-panel i{
  font-size: 150%;
  font-weight: 400;
  margin: 0 10px 0 10px;
  vertical-align: sub;
}

/*--------------------AD SECTION--------------------*/
.ad{
  margin: 0 0 10px 0;
}

.ad-box{
  background-color: #e2e2e2;
  height: 400px;
  width: 250px;
  border-radius: 6px;
  display: inline-block;
}
.Ad-col{
  text-align: right;
}

.ad p{
  font-size: 45%;
  color: #d2d2d2;
  text-transform: uppercase;
}

.clearfix{
  content: "";
  display: table;
  clear: both;
}

/*------------------BADGE------------------*/
.btn-notification{
  position: absolute;
  top: 0;
  right: 5px;
  font-size: 140%;
}

i.ion-android-notifications{
  position:relative;
}

i.ion-android-notifications div{
  position: absolute;
  top: -7px;
  right: -13px;
  border-radius: 50%;
  padding: 1px 6px;
  color:#fff;
  background-color: #ECBD4B;
  font-size: 70%;
  font-weight: 700;
}

.btn-close{
  position: absolute;
  top: 4px;
  left:9px;
  font-size: 130%;
  font-weight: 700;
  color: #aaa;
  transition: 0.1s;
}

.btn-close:hover{
  color: #777;
  font-size: 130%;
}
/*
Orange color - #ECBD4B
Blue color - #32648e
*/

.rodal-mask{
  background: rgba(0, 0, 0, 0.84) !important;
}

.modal-middle{
  background-color: #FbFbFb;
  margin-left: 0px !important;
  margin-right: 0px !important;
}

.modal-buttons{
  background-color: #f0f0f0;
}

.modal-buttons .btn-flight-details span, .modal-buttons .btn-flight-save span, .modal-buttons i{
  color: #5a5a5a;
}

.extra-flight-data{
  line-height: 22px;
}

.extra-flight-data .city{
  padding-top: 5px;
}

.extra-flight-data .city.top{
  padding-top: 25px;
}
.extra-flight-data .time.top{
  padding-top:8px;
}

.extra-flight-data .time:last-child{
  padding-bottom: 18px;
}

.flights-divider {
  width: 100%;
  height: 1px;
  margin: 17px auto;
  background: #dfdfdf;
}

.vertical-divider{
  height: 100%;
}

.vertical-divider img{
  width: 7px;
  position: absolute;
  top: 100px;
  right: 0;
  transform: translate(0, -50%);
}

.modal-header {
  border-bottom: 1px solid #dfdfdf;
}

.modal-header img {
  width: 110px;
  padding:24px 0 12px 0;
}

.rodal-dialog {
  padding:0 !important;
  border-radius: 0 !important;
}

.rodal-dialog .extra-flight-data, .modal-details{
  text-align: left;
}

.modal-details{
  padding-left: 70px;
  font-size: 85%;
}

.modal-details p{
  display: inline-block;
  color: #39AFE0;
  font-size: 110%;
  padding-left: 10px;
  margin: 0;
}

.modal-details, .modal-buttons{
  border-top: 1px solid #dfdfdf;
  line-height: 65px;
}


/*-----------SPINNER-----------------*/
.spinner {
  margin: 100px auto;
  width: 50px;
  height: 40px;
  text-align: center;
  font-size: 10px;
}

.spinner > div {
  background-color: #5f5f5f;
  height: 100%;
  width: 6px;
  margin-left: 4px;
  display: inline-block;

  -webkit-animation: sk-stretchdelay 1.2s infinite ease-in-out;
  animation: sk-stretchdelay 1.2s infinite ease-in-out;
}

.spinner .rect2 {
  -webkit-animation-delay: -1.1s;
  animation-delay: -1.1s;
}

.spinner .rect3 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

.spinner .rect4 {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}

.spinner .rect5 {
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s;
}

@-webkit-keyframes sk-stretchdelay {
  0%, 40%, 100% { -webkit-transform: scaleY(0.4) }
  20% { -webkit-transform: scaleY(1.0) }
}

@keyframes sk-stretchdelay {
  0%, 40%, 100% {
    transform: scaleY(0.4);
    -webkit-transform: scaleY(0.4);
  }  20% {
    transform: scaleY(1.0);
    -webkit-transform: scaleY(1.0);
  }
}


/*--------------DISPLAY COMPONENT----------------------*/
.display-component{
  height:300px;
  text-align: center;
  padding-top: 35px;
}

/*------TIME PICKER-----------*/
.rc-time-picker{
  width:11%;
}

.filter-text{
  padding-left: 15px;
}

/*------LOGIN/SIGNUP-----------*/
.modal-header h3{
  font-size: 90%;
  text-align: center;
  color: #555;
}

.login-modal{
  color: #555;
  width: 85%;
  margin: auto;
}

.social-login-facebook, .social-login-google, .login-modal .btn-login{
  font-size: 90%;
  text-align: left;
  width:100%;
  padding: 13px 0;
  border-radius: 2px;
  box-shadow: 0px 1px 10px 0px rgba(46,61,73,0.2);
}

.social-login-facebook i{
  font-size: 160%;
  margin: 0 25px 0 30px;
  vertical-align: sub;
}

.social-login-google i{
  margin: 0 25px 0 20px;
  vertical-align: sub;
}

.social-login-facebook{
  background-color:#21499F;
  color:#fff;
  margin: 20px auto 10px auto;
  border: 1px solid #21499F;
}

.social-login-google{
  margin: 0 auto 10px auto;
  border: 1px solid #dfdfdf;
}

.social-login-google img{
  width: 25px;
}

.login-modal .divider{
  width: 100%;
  color:#333;
  letter-spacing: 1px;
  text-align: center;
  font-size: 50%;
  margin-bottom: 15px;
}

.login-modal .divider div{
  display: inline-block;
  width: 45%;
  height: 1px;
  background: #d1d1d1;
}

.login-modal .divider span{
  margin: 0 8px;
  vertical-align:sub;
}

.login input, .signup input{
  width:92%;
  height: 45px;
  margin-bottom: 10px;
  font-size: 90%;
  padding-left: 20px;
}

.login-modal input:first-of-type{
  margin-top:20px;
}

.login-modal .btn-login{
  width: 100%;
  text-align: center;
  background-color: #E1A93C;
  margin-bottom: 10px;
}

.login-modal-base{
  text-align: center ;
}

.login-modal a{
  color:#0D4F91;
}

.login-modal .forgot-password{
  font-size: 80%;
}


.login-modal .terms{
  font-size: 55%;
}

.login-modal .footer-divider{
  height: 1px;
  width:100%;
  background-color: #dfdfdf;
  margin: 10px 0 15px 0;
}
.login-modal .sign-up{
  font-size: 90%;
}

.modal-border{
  border-radius:15px;
}
